<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Document</title>
</head>
<body>
    <h1><%=pokemon.name%></h1>
    <div class="showpoke">
        <img src="<%=pokemon.img %>">
    </div>
    <a href="/pokemon/<%= index %>/edit"><button>Edit</button></a>
    <form action="/pokemon/<%=index %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>

        <ul class="type">

            <h4>Type</h4>

            <li>
                <%=`${pokemon.type}`%>
            </li>
        </ul>
        <ul class="stats">
            <h4>
                Stats
            </h4>
            <li> 
                Hp:<%=`${pokemon.stats.hp}`%>
             </li>
             <li> 
                Attack:<%=`${pokemon.stats.attack}`%>
             </li>
             <li> 
                Defense:<%=`${pokemon.stats.defense}`%>
             </li>
        </ul>
</body>
</html>